@charset "utf-8";

@font-face {
  font-family: WorkSans;
  font-weight: normal;
  src: url('../assets/fonts/WorkSans-Regular.woff2') format('woff2'), 
       url('../assets/fonts/WorkSans-Regular.woff') format('woff');
}

@font-face {
  font-family: WorkSans;
  font-weight: 400;
  src: url('../assets/fonts/WorkSans-Bold.woff2') format('woff2'), 
       url('../assets/fonts/WorkSans-Bold.woff') format('woff');
}

@font-face {
  font-family: WorkSans;
  font-weight: 700;
  src: url('../assets/fonts/WorkSans-Black.woff2') format('woff2'), 
       url('../assets/fonts/WorkSans-Black.woff') format('woff');
}

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #9900FC !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;


h1, h2, h3, h4, h5, h6 {
	font-family: "WorkSans";
}

.site-header,
.site-footer {
  border-color: $brand-color;
}

// Table of Contents

.toc {overflow-y:auto}.toc>.toc-list{overflow:hidden;position:relative}.toc>.toc-list li{list-style:none}.toc-list{margin:0;padding-left:10px}a.toc-link{color:currentColor;height:100%}.is-collapsible{max-height:1000px;overflow:hidden;transition:all 300ms ease-in-out}.is-collapsed{max-height:0}.is-position-fixed{position:fixed !important;top:30px}.is-active-link{font-weight:700;color:$brand-color !important;}.toc-link::before{background-color:$background-color;content:' ';display:inline-block;height:inherit;left:0;margin-top:-1px;position:absolute;width:5px}.is-active-link::before{background-color:$brand-color}

.toc-container {
  position: absolute;
  top: 100px;
  left: 0;
}

#toc {
  font-size: 14px;
  border-right: 1px solid rgba($brand-color, 0.1);
  padding-right: 1em;

  ol {
    list-style: none;
  }

  @media (max-width: 1200px){
    display: none;
  }
}

.toc-list-item {
  margin: 0.25em 0;
}

// Centering Helper

li .twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}
