<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="toc-container">
      <div id="toc" class="js-toc"></div>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
  <script async type="text/javascript" src="/assets/js/libs/tocbot.min.js"></script>
  <script async type="text/javascript" src="/assets/js/main.js"></script>
</html>